@model Nop.Plugin.Payments.ZarinPal.Models.ResultModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<div class="page checkout-page order-completed-page">
    <div class="page-body checkout-data">
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Plugins.Payments.ZarinPal.Failed")</strong>
            </div>
        </div>
    </div>
</div>
